#section_2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    padding: 3vw 0vw 3vw 0vw;
    gap: 3vw;
}
/* .service_card_title_bottom_hidden */
/* .service_card_title_bottom_hidden */
/* .service_card_title_bottom_hidden */
/* .service_card_title_bottom_hidden */

.service_card_title_bottom_hidden
{
    position: absolute;
    width: 0%;
    bottom: 0;
    height: .4vw;
    background: var(--gold_over_clear);
    transition: all ease 3000ms;
}
.service_card_title_bottom_visible
{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: .4vw;
    background: var(--gold_over_clear);
    transition: all ease 3000ms;
}

.service_card_horizontal_line_hidden
{
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 00%;
    height: .1vw;
    background: var(--gold_over_clear);
    transition: all ease 7000ms;
}
.service_card_horizontal_line_visible
{
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
    height: .1vw;
    background: var(--gold_over_clear);
    transition: all ease 7000ms;
}

.service_card_vertical_line_hidden
{
    position: absolute;
    left: 68.8%;
    top: 0;
    width: .1vw;
    height: 0%;
    background: var(--gold_over_clear);
    transition: all ease 4000ms;
}
.service_card_vertical_line_visible
{
    position: absolute;
    left: 68.8%;
    top: 0;
    width: .1vw;
    height: 100%;
    background: var(--gold_over_clear);
    transition: all ease 4000ms;
}

/* #section_2 > h2 */
/* #section_2 > h2 */
/* #section_2 > h2 */
/* #section_2 > h2 */
#section_2 > h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    padding: 1vw 4vw;
    width: 4vw;
    text-align: center;
    border-bottom: solid .4vw var(--gold_over_clear);
}
#section_2_service_cards_container
{
    width: 55%;
    overflow: hidden;
    display: flex;
    gap: 1vw;    
}

.service_card
{
    height: 25vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;  
}

.service_card_background
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
}
.service_card_background > img
{
    width: 120%;
    overflow: hidden;
    left: 0;
    bottom: 20%;
}


.service_card_heading_background
{
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    background: var(--background_medium);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    color: var(--first);
    font-family: f5;
    border-bottom: solid .1vw var(--gold_over_clear);
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: .0vw;
}


.service_card_paragraph_hidden
{
    overflow: hidden;
    background: var(--background_medium);
    width: 100%;
    height: 0;
    color: var(--first);
    font-family: f5;
    border-top: solid .1vw var(--gold_over_clear);
    font-size: .9vw;
    padding: 0vw 1vw;
    font-weight: 600;
    letter-spacing: -.051vw;
    transition: all ease 500ms;
    opacity: 0;
}
.service_card_paragraph_visible
{
    background: var(--background_medium);
    width: 100%;
    height: 40%;
    color: var(--first);
    font-family: f5;
    border-top: solid .1vw var(--gold_over_clear);
    font-size: .9vw;
    padding: 1vw;
    font-weight: 600;
    letter-spacing: -.051vw;
    transition: all ease 500ms;
    opacity: 1;
}
.service_card_paragraph_hidden > span
{
    color: var(--gold_over_dark);
}
.service_card_paragraph_visible > span
{
    color: var(--gold_over_dark);
}



.service_card_button
{
    background: var(--background_medium);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--first);
    font-family: f5;
    border-top: solid .1vw var(--gold_over_clear);
    font-size: 1.15vw;
    padding: 1vw;
    font-weight: 600;
    letter-spacing: -.051vw;
}
.service_card_button > span
{
    color: var(--gold_over_dark);
}

.service_card_button > p
{
    color: var(--first);
    transform: rotate(90deg) scaleY(1.5);
}




.section_2_message_hidden
{

    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */


/* Tablet */
/* Tablet */
/* Tablet */
/* Tablet */
    
@media only screen and (max-width: 821px) 
{  

}
    
/* Mobile */
/* Mobile */
/* Mobile */
/* Mobile */
    
@media only screen and (max-width: 439px)  
{ 

}